<h1>Funcionários</h1>
<div class="employees">
    {{#each employees}}
    <div class="employee">
        <h3>{{this.name}}</h3>
        <p>{{this.email}}</p>
        <p>{{this.birth}}</p>
        <p>R${{this.salary}}</p>
        <p>{{this.role}}</p>
        <div class="actions">
            <a href="/{{this._id}}">Detalhe</a>
            <a href="/edit/{{this._id}}">Editar</a>
        </div>
    </div>
    {{/each}}
</div>
